.logo {
  max-width: 50rem;
}

.menu,
.submenu {
  list-style-type: none;
  color: #92ab75;
}

.submenu {
  max-width: 100px;
}

.links {
  color: #92ab75;
}

.top-section {
  display: flex;
  margin-right: 50px;
}
