

.menu,
.submenu {
  list-style-type: none;
  color:#556B30;
  border: #556B30;
 
}

.submenu {
  max-width: 100px;
}

.links {
  color: #92ab75;
}

.top-section {
 
 
}

.nav-top {
 background-image: url(../images/banner3.png);
 width: 100%;
}

nav {
  width: 20%;
  font-size: larger;
}

.nav-footer {
  color: #F0EAE1;
}