.logo {
  max-width: 100rem;
  margin-right: 45rem;
}

.menu,
.submenu {
  list-style-type: none;
  color: #92ab75;
}

.submenu {
  max-width: 100px;
}

.links {
  color: #92ab75;
}

.top-section {
  display: flex;
}

nav {
  width: 20%;
  font-size: larger;
}
