.login-form {
  width: 100%;
  padding: 5px;
  margin: auto;
  max-width: 500px;
  height: 500%;
  margin-right: 60%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f2f0;
  height: 200vh;

}

input {
  margin: 20px;
}

button {
  max-width: 400px;
}

#register{
  font-size: larger;
 text-align: end;
}



