.row {
  background-color: #f0eae1;
}

h1 {
  font-size: 80px;
}

.home-banner {
  max-height: 20rem;
  max-width: 50rem;
  align-items: center;
}

.pantry-card-title {
  font-size: 50px;
}

.pantry-card-subtitle {
  font-size: 30px;
}

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}

