.recipe-layout {
  background-color: #f0eae1;
  display: flex;
  gap: 35px;

}

#newRec {
  background-color: #f0eae1;
}


#ingList{
  margin-left: 120%;
  margin-top: 0%;
  background-color: #f0eae1;
}

#recList{
  background-color: #f0eae1;
  margin: 30%;
  margin-top: 5%;

}


