body, html {
  font-family: 'Cabin', sans-serif;
font-family: 'Reem Kufi Ink', sans-serif;
color: #556B30;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
color:rgb(204,85,0)
}
